{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Operation</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for p in purchases %}
            <tr>
                <td>{{ p.symbol }}</td>
                <th>{{ p.action }}</th>
                <td>{{ p.name }}</td>
                <td>{{ p.amount }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}