{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <label for="symbol">Symbol</label>
            <input type="text" class="form-control" id="symbol" placeholder="E.g.: NFLX" name="symbol">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div class="quotes">
        {% block quoted %}{% endblock %}
    </div>
{% endblock %}